<!DOCTYPE html>
<!--/*@thymesVar id="user" type="info.manhhdtop.rp.scheduler.dto.response.User"*/-->
<!--/*@thymesVar id="meta" type="java.util.Map"*/-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{application.name} + ' - ' + #{change-password.title}"></title>
    <meta th:each="meta : ${metaList}" th:name="${meta.key}" th:content="${meta.value}"/>
    <link rel="stylesheet" href="/bootstrap-5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="login-container">
    <h3 class="text-center" th:text="#{change-password.title}"/>
    <form id="changePasswordForm" th:action="@{/auth/change-password}" method="post" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label" th:text="#{auth.username}"/>
            <input type="text" class="form-control" id="username" name="username" th:value="${username}" disabled>
            <input type="hidden" id="redirect-uri" name="redirectUri" th:value="${redirectUri}" disabled>
        </div>
        <div class="mb-3">
            <label for="old-password" class="form-label" th:text="#{auth.old-password}"/>
            <input type="password" class="form-control" id="old-password" name="oldPassword" required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="new-password" class="form-label" th:text="#{auth.new-password}"/>
            <input type="password" class="form-control" id="new-password" name="newPassword" required>
            <div class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="repeat-password" class="form-label" th:text="#{auth.repeat-password}"/>
            <input type="password" class="form-control" id="repeat-password" name="repeat-password" required>
            <div class="invalid-feedback"></div>
        </div>
        <button type="submit" class="btn btn-primary w-100" th:text="#{change-password.title}"></button>
        <div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}"></div>
    </form>
    <div class="signup-link">
        <p class="text-end"><a href="/" th:text="#{back-home}"/></p>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/bootstrap-5.3.2/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    const form = $('#changePasswordForm');
    const oldPasswordElm = $('#old-password');
    const oldPasswordRequired = [[#{auth.password.required}]];
    const newPasswordElm = $('#new-password');
    const newPasswordInvalid = [[#{auth.password.invalid}]];
    const newPasswordRequired = [[#{auth.password.required}]];
    const newPasswordUsed = [[#{auth.new-password.used}]];
    const repeatPasswordElm = $('#repeat-password');
    const repeatPasswordInvalid = [[#{auth.repeat-password.invalid}]];
    const repeatPasswordRequired = [[#{auth.repeat-password.required}]];
    let submitted = false;

    $(document).ready(() => oldPasswordElm.focus());

    form.on('submit', async function (event) {
        const btnSubmit = form.children('button[type=submit]');
        btnSubmit.prop('disabled', true);
        submitted = true;
        let oldPasswordValid = validateOldPassword();
        let newPasswordValid = validateNewPassword();
        let repeatPasswordValid = validateRepeatPassword();
        if (!oldPasswordValid || !newPasswordValid || !repeatPasswordValid) {
            event.preventDefault();
        }
        btnSubmit.prop('disabled', false);
    });

    oldPasswordElm.change(() => validateOldPassword());
    newPasswordElm.change(() => validateNewPassword());
    repeatPasswordElm.change(() => validateRepeatPassword());

    function validateOldPassword() {
        if (submitted) {
            let password = oldPasswordElm.val().trim();
            let errorMessage;
            if (!password) {
                errorMessage = oldPasswordRequired;
                return false;
            }
            validate(oldPasswordElm, errorMessage);
        }
        return true;
    }

    function validateNewPassword() {
        if (submitted) {
            let errorMessage = null;
            let password = newPasswordElm.val().trim();
            if (password) {
                if (password.length < 6) {
                    errorMessage = newPasswordInvalid;
                } else {
                    if (password === oldPasswordElm.val()) {
                        errorMessage = newPasswordUsed;
                    }
                }
            } else {
                errorMessage = newPasswordRequired;
            }
            validate(newPasswordElm, errorMessage);
            return !errorMessage;
        }
        return true;
    }

    function validateRepeatPassword() {
        if (submitted) {
            let errorMessage = null;
            let password = newPasswordElm.val().trim();
            let repeatPassword = repeatPasswordElm.val().trim();
            if (password) {
                if (repeatPassword) {
                    if (repeatPassword !== password) {
                        errorMessage = repeatPasswordInvalid;
                    }
                } else {
                    errorMessage = repeatPasswordRequired;
                }
            } else {
                return true;
            }
            validate(repeatPasswordElm, errorMessage);
            return !errorMessage;
        }
        return true;
    }
</script>
</body>
</html>
