<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content" class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6"
     data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <img src="/images/logos/dark-logo.svg" width="180" alt="">
                            </div>
                            <p class="text-center">The scheduler application</p>
                            <form id="loginForm" th:action="@{/auth/login}" method="post" novalidate>
                                <input type="hidden" name="redirectUrl" th:value="${param.redirectUrl}">
                                <div class="mb-3">
                                    <label for="username" class="form-label" th:text="#{auth.username}"></label>
                                    <input type="text" class="form-control" id="username" name="username"
                                           th:value="${username}">
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="form-label" th:text="#{auth.password}"></label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input primary" type="checkbox" name="rememberMe" id="remember-me" checked>
                                        <label class="form-check-label text-dark" for="remember-me"
                                               th:text="#{auth.remember-device}">
                                        </label>
                                    </div>
                                    <a class="text-primary fw-bold" href="/auth/forgot-password"
                                       th:text="#{auth.forgot-password}"></a>
                                </div>
                                <div th:if="${error}" class="alert alert-danger mt-3" role="alert"
                                     th:text="${error}"></div>
                                <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2"
                                        th:text="#{login.title}">
                                </button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="mb-0 fw-bold" th:text="#{auth.have-no-user}"></p>
                                    <a class="text-primary fw-bold ms-2" href="/auth/register"
                                       th:text="#{register.title}">
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const usernameElm = $('#username');
        const usernameInvalid = [[#{auth.username.invalid}]];
        const usernameRegex = /\w{4,}/;
        const usernameRequired = [[#{auth.username.required}]];
        const passwordElm = $('#password');
        const passwordInvalid = [[#{auth.password.invalid}]];
        const passwordRequired = [[#{auth.password.required}]];
        let submitted = false;

        $(document).ready(() => {
            const username = usernameElm.val();
            if (!username && username.trim() === '') {
                usernameElm.focus();
            } else {
                passwordElm.focus();
            }
        });

        $('#loginForm').on('submit', function (event) {
            submitted = true;
            let usernameValid = validateUsername();
            let passwordValid = validatePassword();
            if (!usernameValid || !passwordValid) {
                event.preventDefault();
            }
        });

        usernameElm.change(() => validateUsername());
        passwordElm.change(() => validatePassword());

        function validateUsername() {
            if (submitted) {
                let errorMessage = null;
                let username = usernameElm.val().trim();
                if (username) {
                    if (!usernameRegex.test(username)) {
                        errorMessage = usernameInvalid;
                    }
                } else {
                    errorMessage = usernameRequired;
                }
                validate(usernameElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validatePassword() {
            if (submitted) {
                let errorMessage = null;
                let password = passwordElm.val().trim();
                if (password) {
                    if (password.length < 6) {
                        errorMessage = passwordInvalid;
                    }
                } else {
                    errorMessage = passwordRequired;
                }
                validate(passwordElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }
    </script>
</div>
</html>