<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content"
     class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <img src="/images/logos/dark-logo.svg" width="180" alt="">
                            </div>
                            <p class="text-center">The scheduler application</p>

                            <form id="registerForm" th:action="@{/auth/register}" method="post" novalidate>
                                <div class="mb-3">
                                    <label for="name" class="form-label" th:text="#{auth.name}"/>
                                    <input type="text" class="form-control" id="name" name="name"
                                           th:value="${request == null ? '' : request.name}"
                                           required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="username" class="form-label" th:text="#{auth.username}"/>
                                    <input type="text" class="form-control" id="username" name="username"
                                           th:value="${request == null ? '' : request.username}" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label" th:text="#{auth.email}"/>
                                    <input type="email" class="form-control" id="email" name="email"
                                           th:value="${request == null ? '' : request.email}" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label" th:text="#{auth.password}"/>
                                    <input type="password" class="form-control" id="password" name="password"
                                           th:value="${request == null ? '' : request.password}" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="repeat-password" class="form-label" th:text="#{auth.repeat-password}"/>
                                    <input type="password" class="form-control" id="repeat-password"
                                           name="repeat-password"
                                           th:value="${request == null ? '' : request.password}" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="phone" class="form-label" th:text="#{profile.phone}"/>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           th:value="${request == null ? '' : request.phone}" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label" th:text="#{profile.address}"/>
                                    <input type="text" class="form-control" id="address" name="address"
                                           th:value="${request == null ? '' : request.address}" required>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label" th:text="#{profile.gender}"/>
                                    <select id="gender" class="form-select" name="gender"
                                            th:value="${request == null ? null : request.gender}">
                                        <option disabled
                                                th:selected="${request == null ? true : (request.gender == null ? true : false)}">
                                            ---Select----
                                        </option>
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Male</option>
                                        <option value="OTHER">Other</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100" th:text="#{register.title}">
                                </button>
                                <div th:if="${error}" class="alert alert-danger mt-3" role="alert" th:text="${error}">
                                </div>
                            </form>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <p class="fs-4 mb-0 fw-bold" th:text="#{auth.username.exist}"></p>
                                <a class="text-primary fw-bold ms-2" href="/auth/login" th:text="#{login.title}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const nameElm = $('#name');
        const nameRequired = [[#{auth.name.required}]];
        const emailElm = $('#email');
        const emailInvalid = [[#{auth.email.invalid}]];
        const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        const emailRequired = [[#{auth.email.required}]];
        const usernameElm = $('#username');
        const usernameInvalid = [[#{auth.username.invalid}]];
        const usernameRegex = /\w{4,}/;
        const usernameRequired = [[#{auth.username.required}]];
        const passwordElm = $('#password');
        const passwordInvalid = [[#{auth.password.invalid}]];
        const passwordRequired = [[#{auth.password.required}]];
        const registerForm = $('#registerForm');
        const repeatPasswordElm = $('#repeat-password');
        const repeatPasswordInvalid = [[#{auth.repeat-password.invalid}]];
        const repeatPasswordRequired = [[#{auth.repeat-password.required}]];
        let submitted = false;

        $(document).ready(() => nameElm.focus());

        registerForm.on('submit', async function (event) {
            const btnSubmit = registerForm.children('button[type=submit]');
            btnSubmit.prop('disabled', true);
            submitted = true;
            let nameValid = validateName();
            let emailValid = validateEmail();
            let usernameValid = validateUsername();
            let passwordValid = validatePassword();
            let repeatPasswordValid = validateRepeatPassword();
            if (!nameValid || !passwordValid || !repeatPasswordValid || !usernameValid) {
                btnSubmit.prop('disabled', false);
                event.preventDefault();
                // return;
            }
        });

        nameElm.change(() => validateName());
        emailElm.change(() => validateEmail());
        passwordElm.change(() => validatePassword());
        repeatPasswordElm.change(() => validateRepeatPassword());
        usernameElm.change(() => validateUsername());

        function validateName() {
            if (submitted) {
                let errorMessage = null;
                let name = nameElm.val().trim();
                if (name) {
                    if (name.length < 3) {
                        errorMessage = nameRequired;
                    }
                } else {
                    errorMessage = nameRequired;
                }
                validate(nameElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validateEmail() {
            if (submitted) {
                let errorMessage = null;
                let email = emailElm.val().trim();
                if (email) {
                    if (!emailRegex.test(email)) {
                        errorMessage = emailInvalid;
                    }
                } else {
                    errorMessage = emailRequired;
                }
                validate(emailElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validatePassword() {
            if (submitted) {
                let errorMessage = null;
                let password = passwordElm.val().trim();
                if (password) {
                    if (password.length < 6) {
                        errorMessage = passwordInvalid;
                    }
                } else {
                    errorMessage = passwordRequired;
                }
                validate(passwordElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validateRepeatPassword() {
            if (submitted) {
                let errorMessage = null;
                let password = passwordElm.val().trim();
                let repeatPassword = repeatPasswordElm.val().trim();
                if (password) {
                    if (repeatPassword) {
                        if (repeatPassword !== password) {
                            errorMessage = repeatPasswordInvalid;
                        }
                    } else {
                        errorMessage = repeatPasswordRequired;
                    }
                } else {
                    return true;
                }
                validate(repeatPasswordElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validateUsername() {
            if (submitted) {
                let errorMessage = null;
                let username = usernameElm.val().trim();
                if (username) {
                    if (!usernameRegex.test(username)) {
                        errorMessage = usernameInvalid;
                    }
                } else {
                    errorMessage = usernameRequired;
                }
                validate(usernameElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }
    </script>
</div>
</html>
