<!DOCTYPE html>
<!--/*@thymesVar id="configs" type="java.util.List<info.manhhdtop.rp.scheduler.dto.response.Config>"*/-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="content" class="container">
    <div class="row">
        <div class="col-12 my-3">
            <h5 class="card-title fw-semibold" th:text="#{config.title}"></h5>
            <div class="table-responsive mt-3">
                <table class="table table-bordered" th:classappend="${configs.size() == 0 ? '' : 'table-hover'}">
                    <thead>
                    <tr>
                        <th class="min" th:text="#{table.no}"></th>
                        <th th:text="#{config.code}"></th>
                        <th th:text="#{config.name}"></th>
                        <th th:text="#{config.type}"></th>
                        <th th:text="#{config.data}"></th>
                        <th class="min">
                            <a class="btn btn-info" th:href="@{/config/create}">
                                <span class="bi bi-plus-circle"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${configs.size() == 0}">
                        <td colspan="100%">
                            <small class="d-block text-center m-3 fst-italic text-muted"
                                   th:text="#{table.empty}"></small>
                        </td>
                    </tr>
                    <tr th:if="${configs.size() > 0}" th:each="config, iter : ${configs}">
                        <td class="min" th:text="${pageNumber * pageSize + iter.index + 1}"></td>
                        <td th:text="${config.code}"></td>
                        <td th:text="${config.name}"></td>
                        <td th:text="${config.type}"></td>
                        <td class="text-truncate" th:text="${config.type == 'JSON' ? config.data : config.dataJson}"></td>
                        <td class="min">
                            <!--/*@thymesVar id="id" type="java.lang.Long"*/-->
                            <a class="btn btn-success" th:href="@{/config/{id}(id=${config.id})}">
                                <span class="bi bi-gear"></span>
                            </a>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete"
                                    th:onclick="deleteConfig([[${config.id}]])">
                                <span class="bi bi-trash"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:id="modal-delete" th:replace="~{fragments/modal :: confirm(confimTitle = #{modal.confirm}, confimContent = #{config.delete-text})}">

    </div>
    <script th:inline="javascript">
        let deleteConfig = (config) => {
            console.log('update | config: ', config);
        }
    </script>
</section>
</body>
</html>
