<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="configUpdate" id="add-modal" class="modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{table.action.add} + ' ' + #{config.title}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-add" method="post" th:action="@{/config}" class="row" th:object="${config}">
                    <div class="col-12 col-md-6 mt-3">
                        <label for="code" class="form-label" th:text="#{config.code}"/>
                        <input type="text" class="form-control" id="code" name="code" th:field="*{code}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <label for="name" class="form-label" th:text="#{config.name}"/>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <label for="type" class="form-label" th:text="#{config.type}"/>
                        <select class="form-select" id="type" name="type" th:field="*{type}">
                            <option th:each="item : ${types}" th:value="${item}"
                                    th:selected="${config != null && config.type == item}"
                                    th:text="#{'config.type.' + ${item.toLowerCase()}}">
                            </option>
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-12 col-md-6 mt-3">
                        <div class="form-check form-switch d-flex justify-content-between ps-0">
                            <label for="name" class="form-label" th:text="#{config.status}"/>
                            <input type="checkbox" role="switch" class="form-check-input" id="status" name="status"
                                   th:checked="${config == null || config.status == null || config.status == 'ACTIVE'}">
                        </div>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="d-flex">
                            <label for="data" class="form-label flex-grow-1 align-self-center mb-0" th:text="#{config.data}"/>
                            <button id="btn-format" class="btn btn-info me-2 mb-2 text-end" type="button">Format</button>
                            <button id="btn-minimize" class="btn btn-info mb-2" type="button">Minimize</button>
                        </div>
                        <input type="text" class="form-control" id="data" name="data" th:field="*{data}">
                        <textarea type="text" class="form-control" id="data-json" name="dataJson" rows="5"
                                  th:field="*{dataJson}"></textarea>
                        <div class="invalid-feedback"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{table.action.cancel}"></button>
                <button id="btn-submit" type="button" class="btn btn-primary" th:text="#{table.action.save}"></button>
            </div>
        </div>
    </div>
    <script src="/js/jsonlint.min.js"></script>
    <script th:inline="javascript">
        let codeRequired = [[#{config.code.required}]];
        let nameRequired = [[#{config.name.required}]];
        let dataRequired = [[#{config.data.required}]];
        let dataInvalid = [[#{config.data.invalid}]];
        let jsonInvalid = [[#{config.json.invalid}]];

        let btnFormatElm = $('#btn-format');
        let btnSubmitElm = $('#btn-submit');
        let btnMinimizeElm = $('#btn-minimize');
        let codeElm = $('#code');
        let formElm = $('#form-add');
        let nameElm = $('#name');
        let statusElm = $('#status');
        let dataElm = $('#data');
        let dataJsonElm = $('#data-json');
        let typeElm = $('#type');
        let submitted = false;

        $(document).ready(() => {
            typeElm.change();
            codeElm.focus();
        });

        btnFormatElm.on('click', () => {
            let data = dataJsonElm.val();
            if (!data || data.trim() === '') {
                return;
            }
            try {
                data = jsonlint.parse(data);
                data = JSON.stringify(data, null, 2);
                dataJsonElm.val(data);
                const rows = data.split(/\r\n|\r|\n/).length;
                dataJsonElm.attr('rows', Math.min(rows, 15));
                validate(dataJsonElm);
            } catch (e) {
                console.error(e);
                validate(dataJsonElm, jsonInvalid);
            }
        });

        btnMinimizeElm.on('click', () => {
            let data = dataJsonElm.val();
            if (!data || data.trim() === '') {
                return;
            }
            try {
                data = jsonlint.parse(data);
                data = JSON.stringify(data);
                dataJsonElm.val(data);
                dataJsonElm.attr('rows', 5);
            } catch (e) {
                console.error(e);
                dataJsonElm.next(invalidElm).text('Invalid JSON');
            }
        });

        btnSubmitElm.click(() => formElm.submit());

        formElm.on('submit', function (event) {
            submitted = true;
            const codeValid = validateCode();
            const nameValid = validateName();
            const type = typeElm.val()?.trim();
            const dataValid = validateData();
            if (!codeValid || !nameValid || !type || !dataValid) {
                event.preventDefault();
                return;
            }
            statusElm.val(type.toLowerCase() === 'on' ? 'ACTIVE' : 'DISABLE');
        });

        codeElm.change(() => validateCode());
        nameElm.change(() => validateName());
        dataElm.change(() => validateData());
        dataJsonElm.change(() => validateData());

        typeElm.change(() => {
            const type = typeElm.val();
            if (type === 'JSON') {
                btnFormatElm.show();
                btnMinimizeElm.show();
                dataElm.hide();
                dataJsonElm.show();
            } else {
                if (type === 'NUMBER') {
                    dataElm.prop('type', 'number');
                } else {
                    dataElm.prop('type', 'text');
                }
                btnFormatElm.hide();
                btnMinimizeElm.hide();
                dataElm.show();
                dataJsonElm.hide();
            }
            validateData();
        });

        function validateCode() {
            if (submitted) {
                let errorMessage = null;
                let code = codeElm.val().trim();
                if (!code || code.trim() === '') {
                    errorMessage = codeRequired;
                }
                validate(codeElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validateName() {
            if (submitted) {
                let errorMessage = null;
                let name = nameElm.val().trim();
                if (!name || name.trim() === '') {
                    errorMessage = nameRequired;
                }
                validate(nameElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }

        function validateData() {
            if (submitted) {
                let errorMessage = null;
                const type = typeElm.val();
                let data = type === 'JSON' ? dataJsonElm.val().trim() : dataElm.val().trim();
                if (!data || data.trim() === '') {
                    errorMessage = dataRequired;
                } else {
                    switch (type.toUpperCase()) {
                        case 'NUMBER':
                            if (isNaN(Number(data))) {
                                errorMessage = dataInvalid;
                            }
                            break;
                        case 'BOOLEAN':
                            if (data !== 'true' && data !== 'false') {
                                errorMessage = dataInvalid;
                            }
                            break;
                        case 'JSON':
                            try {
                                data = jsonlint.parse(data);
                                JSON.stringify(data);
                            } catch (e) {
                                errorMessage = jsonInvalid;
                            }
                            break;
                    }
                }
                validate(dataElm, errorMessage);
                validate(dataJsonElm, errorMessage);
                return !errorMessage;
            }
            return true;
        }
    </script>
</div>
</body>
</html>
