<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="confirm" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="confirm-title-id"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 id="confirm-title-id" class="modal-title fs-5" th:text="${confirmTitle}">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" th:text="${confirmContent}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:onclick="${closeCallback == null ? null : closeCallback}()"
                        th:text="btnConfirmClose != null ? btnConfirmClose : #{table.action.cancel}">
                </button>
                <button type="button" class="btn btn-primary" th:onclick="${btnPrimaryCallback == null ? null : btnPrimaryCallback}()"
                        th:text="btnPrimary != null ? btnPrimary : #{table.action.submit}">
                </button>
            </div>
        </div>
    </div>
</div>