body {
    background-image: url("/images/login-bg.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
.login-container h3 {
    margin-bottom: 1.5rem;
}
.form-control {
    border-radius: 0.5rem;
}
.btn-primary {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border: none;
    border-radius: 0.5rem;
    transition: background 0.3s;
}
.btn-primary:hover {
    background: linear-gradient(135deg, #9b59b6, #71b7e6);
}
.signup-link {
    margin-top: 1rem;
}