body, html {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-control.invalid,
.form-select.invalid,
.form-control.invalid {
    border-color: var(--bs-form-invalid-border-color);
}

table th.min, table td.min {
    width: 1%;
    white-space: nowrap;
}