<!DOCTYPE html>
<!--/*@thymesVar id="meta" type="java.util.Map"*/-->
<!--/*@thymesVar id="configs" type="java.util.List<info.manhhdtop.rp.job.dto.response.Config>"*/-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{application.name} + ' - ' + #{job.title}"></title>
    <meta th:each="meta : ${metaList}" th:name="${meta.key}" th:content="${meta.value}"/>
    <link rel="stylesheet" href="/bootstrap-5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/icon/bootstrap-icons/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 my-3" style="background-color: #e3f2fd;">
            <nav class="navbar navbar-light mb-3">
                <span class="navbar-brand mb-0 h1" th:text="#{job.title}">Navbar</span>
            </nav>
            <div class="table-responsive">
                <table class="table table-bordered" th:classappend="${jobs.size() == 0 ? '' : 'table-hover'}">
                    <thead>
                    <tr>
                        <th class="min" th:text="#{table.no}"></th>
                        <th th:text="#{job.name}"></th>
                        <th th:text="#{job.cron}"></th>
                        <th th:text="#{job.description}"></th>
                        <th th:text="#{job.data}"></th>
                        <th th:text="#{job.enabled}"></th>
                        <th th:text="#{job.type}"></th>
                        <th class="min">
                            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#add-modal">
                                <span class="bi bi-plus-circle"></span>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${jobs.size() == 0}">
                        <td colspan="100%">
                            <small class="d-block text-center m-3 fst-italic text-muted"
                                   th:text="#{table.empty}"></small>
                        </td>
                    </tr>
                    <tr th:if="${jobs.size() > 0}" th:each="item, iter : ${jobs}">
                        <td class="min" th:text="${iter.index}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.cron}"></td>
                        <td th:text="${item.description}"></td>
                        <td th:text="${item.data}"></td>
                        <td th:text="${item.enabled}"></td>
                        <td th:text="${item.type}"></td>
                        <td class="min">
                            <button class="btn btn-success"><span class="bi bi-plus-circle"></span></button>
                            <button class="btn btn-danger"><span class="bi bi-gear"></span></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="add-modal" class="modal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{job.add}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap-5.3.2/js/bootstrap.min.js"></script>
<script>
</script>
</body>
</html>
